<form id="ratingForm" class="rating-form">
  <label for="rating">Valoración:</label>
<!-- niveles de estrellas depende de la valoracion -->
  <div class="rate">
    <input type="radio" id="star5" name="rate" value="5" (click)="setRating(5)" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" (click)="setRating(4)" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" (click)="setRating(3)" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" (click)="setRating(2)" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" (click)="setRating(1)" />
    <label for="star1" title="text">1 star</label>
  </div>

  <br>
  <br>

  <label for="comment">Comentario:</label>
  <textarea id="comment" name="comment" rows="4" required [(ngModel)]="comment"></textarea>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

  <button type="button" (click)="submitForm()">Enviar</button>
</form>